.gallery {
  width: 100%;
  margin: 0 auto;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  .list-reset ();
  border-top: 1px solid @photo-border;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid @photo-border;
}

@media (min-width: @tablet-width) {
  .gallery {
    width: 648px;
  }

  .gallery__header {
    width: 442px;
    margin: 0 auto;
  }

  .gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    border-top: none;
  }

  .gallery__item {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    width: 1200px;
  }
}
