.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__list {
  .list-reset ();
}

.gallery__content {
  margin: 23px 20px 17px;
}

.gallery__photo-name {
  font-weight: bold;
  padding-left: 20px;
}

.gallery__author {
  text-transform: none;
  padding-left: 20px;
}

.gallery__likes-number {
  font-weight: bold;
}
