.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading__slogan,
.heading__title {
  font-size: 18px;
  line-height: 26px;
  .txt-align();
  color: @black;

  padding: 38px 30px 26px;
  margin: 0;
}

.heading__intro {
  line-height: 26px;
  .txt-align();

  margin: 0;
  padding: 2px 20px 5px;

  &--photo {
    line-height: 24px;
    padding: 0 25px 25px;
  }
}

@media (min-width: @tablet-width) {
  .heading {
    width: 640px;
    margin: 0 auto;
  }

  .heading__slogan {
    font-size: 21px;
    padding: 49px 95px 28px;
  }

  .heading__title {
    font-size: 30px;
    line-height: 26px;
    padding: 74px 95px 30px;
  }

  .heading__intro {
    margin: 0;
    padding: 0 75px 50px;

    &--photo {
      padding: 0 0 69px;
    }
  }
}

@media (min-width: @tablet-width) {
  .heading__title {
    padding-top: 112px;
  }

  .heading__intro--photo {
    padding: 0 0 71px;
  }
}
