.page-main-header {
  position: relative;
  min-height: 389px;
  width: 320px;
  padding-bottom: 1px;
  background-color: @bg-grey;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &--smaller {
    min-height: 159px;
    background-position: bottom center;
  }
}

.page-main-header__greeting {
  display: block;
  width: 282px;
  margin: 0 auto;
  padding-top: 90px;
}

.page-main-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 320px;
  height: 27px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-main-header__heading {
  display: block;
  width: 229px;
  margin: 0 auto;
  padding-top: 52px;
}

@media (min-width: @tablet-width) {
  .page-main-header {
    width: 768px;
    min-height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &--smaller {
      min-height: 290px;
      background-position: bottom center;
    }
  }

  .page-main-header__greeting {
    width: 460px;
    padding-top: 77px;
  }

  .page-main-header::after {
    width: 768px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }

  .page-main-header__heading {
    width: 458px;
    padding-top: 95px;
  }
}

@media (min-width: @desktop-width) {
  .page-main-header {
    width: 1200px;
    min-height: 518px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &--smaller {
      min-height: 301px;
      background-position: bottom center;
    }
  }

  .page-main-header__greeting {
    padding-top: 78px;
  }

  .page-main-header::after {
    width: 1200px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
  }

  .page-main-header__heading {
    width: 461px;
    padding-top: 102px;
  }
}
