.page-footer {
  width: 100%;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 648px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 960px;
  }
}
