.page-footer {
  width: 100%;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 23px;
}

.page-footer__title {
  width: 136px;
  font-size: 21px;
  line-height: 26px;
  .txt-align ();
  color: @black;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 648px;
    padding-top: 33px;
    padding-bottom: 38px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 960px;
  }
}
