.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 151px;
  list-style: none;
  padding: 0;
  margin: 35px 0 36px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;
  margin-bottom: 3px;

  background-color: @light-blue;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-btn-item-down;
  }

  &:focus {
    outline-color: @outline-cl;
  }
}

.social__icon {
  fill: @white;
}

.social__icon:active {
  fill-opacity: 0.3;
}

.social__link--youtube {
  width: 47px;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin: 4px 7px 0 0;
  }
}
