.social__title {
  width: 136px;
  font-size: 21px;
  line-height: 26px;
  .txt-align ();
  color: @black;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 151px;
  list-style: none;
  padding: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  background-color: @light-blue;
  fill: @white;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-btn-item-down;
    fill: fade(@white, 30%);
  }
}

.social__link--youtube {
  width: 47px;
}
