@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@white: #ffffff;
@black: #000000;
@dark-grey: #333333;
@light-blue: #81b3d2;
@bg-body-color: @photo-wrapper-color-1;
@blue-hover: #669ec0;
@blue-btn-item-down: #5496bd;
@bg-color-btn-disabled: @photo-border;
@font-color-item-active: #766357;
@font-color-item-active-hover: #604e43;
@outline-cl: #aee1ff;
@bg-grey: #eeeeee;
@photo-wrapper-color-1: #f2f2f2;
@photo-wrapper-color-2: #eaeaea;
@photo-border: #e5e5e5;
